
node_modules/
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*



target/
*.class



.classpath
.project
.settings/





.vscode/


*.bak



*.log



.DS_Store
Thumbs.db
Desktop.ini



*.tmp
*.temp